@model List<SmartHttpEntity.HttpMessage>
@{
    Layout = null;
    var p = ViewBag.P;
}
<div class="tableinner">
    <table class="table table-striped table-bordered table-advance table-hover fixed_table">
        @if (Model.Count > 0)
        {

            <thead>
                <tr>
                    <th>应用ID</th>
                    <th>接口名称</th>
                    <th>版本号</th>
                    <th>模块</th>
                    <th>子模块</th>
                    <th>描述</th>
                    <th>状态</th>
                    <th>操 作</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model)
                {
                    <tr>
                        <td class="tac">@entity.AppID</td>
                        <td class="tac">@entity.Method</td>
                        <td class="tac">@entity.Version</td>
                        <td class="tac">@entity.Moudle</td>
                        <td class="tac">@entity.SubMoudle</td>
                        <td class="tac">@entity.Description</td>
                        @if (entity.Status != SmartHttpEntity.Status.Normal)
                        {
                            <td class="tac" style="color:red;">@entity.Status.Description()</td>
                        }
                        else
                        {
                            <td class="tac">@entity.Status.Description()</td>
                        }
                        <td class="tac">
                            @if (p)
                            {
                                <a href="@Url.Action("Update", "HttpMessage", new { id = entity.ID })" class="btn default btn-xs purple" target="_blank"><i class="icon-pencil"></i>编 辑</a>
                                <a href="@Url.Action("Clone", "HttpMessage", new { id = entity.ID })" class="btn default btn-xs purple" target="_blank"><i class="icon-pencil"></i>克 隆</a>
                            }
                            <a href="@Url.Action("Invoke", "HttpMessage", new { id = entity.ID })" class="btn default btn-xs purple" target="_blank"><i class="icon-pencil"></i>调 用</a>
                            @if (p)
                            {
                                <button type="button" class="btn default btn-xs red" onclick="DeleteHttpMessage('@entity.ID')">删 除</button>
                                <a href="@Url.Action("GetServices", "HttpMessage", new { id = entity.ID })" class="btn default btn-xs purple" target="_blank"><i class="icon-pencil"></i>服务发现</a>
                                if (entity.IsNotify)
                                {
                                    <a href="@Url.Action("Index", "Notify", new { id = entity.ID })" class="btn default btn-xs purple" target="_blank"><i class="icon-pencil"></i>通知</a>
                                }
                            }
                            @if (entity.InterfaceArgsCount > 0)
                            {
                                <a href="@Url.Action("RunValue", "HttpMessage", new { id = entity.ID })" class="btn default btn-xs purple" target="_blank"><i class="icon-pencil"></i>运行值</a>
                            }
                            <a href="@Url.Action("UpdateValid", "HttpMessage", new { id = entity.ID })" class="btn default btn-xs purple" target="_blank"><i class="icon-pencil"></i>异常映射表</a>
                            <a href="@Url.Action("DownServices", "HttpMessage", new { id = entity.ID })" class="btn default btn-xs purple" target="_blank"><i class="icon-pencil"></i>接口文档</a>
                            <a href="@Url.Action("DownInterfaces", "HttpMessage", new { id = entity.ID })" class="btn default btn-xs purple" target="_blank"><i class="icon-pencil"></i>UML文档</a>
                        </td>
                    </tr>
                }
            </tbody>
        }
        else
        {
            <tbody>
                <tr>
                    <td style="text-align: center">暂无数据....</td>
                </tr>
            </tbody>
        }
    </table>
</div>
@Html.Raw(ViewBag.pager)
